@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.tes{
    opacity: 0;
}

.link{
    color: #0068D6;
    text-decoration: none !important;
}
.link:hover{
    color: #404040;
}

.link2{
    color: #8F9199;
    text-decoration: none !important;
}

.input{
    border: 1px solid #ccc;
    padding: 3px;
}

.bg{
    background: url("/src/assets/img/bg-emet.png");
    background-position: center;
    background-size: cover;
}

.slick-slide > div {
    margin: 0px 20px;
}


.pad{
    padding: 16px;
}

.toaster{
    width: 600px !important;
    transform: translateX(-20%) !important;
}

@media (min-width : 1024px){
    .pad{
        padding: 64px !important;
    }
}
